numpy==1.21.6
cairocffi
css_parser
svgpathtools
tensorboardX
scipy
scikit-image
scikit-learn
Rtree
matplotlib
pandas
tqdm
hydra-core
omegaconf
einops
fvcore
fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
